services:
  mongo:
    image: mongo:4.4
    container_name: api-mongo-1
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root123
    volumes:
      - ./mongo-data:/data/db
